<div>
  <h1>Student Info:</h1>
  <p>
    Student ID :
  </p>
  <p>{{highGPA.studId}}</p>
  <br />
  <p>
    Name :
  </p>
  <p>{{highGPA.name}}</p>
  <br />
  <p>
    Program :
  </p>
  <p>{{highGPA.program}}</p>
  <br />
  <p>
    GPA :
  </p>
  <p>{{highGPA.gpa}}</p>
  <br />

</div>