<div>
  <h1>Student Info:</h1>
  <p>
    Student ID :
  </p>
  <p>{{student.studId}}</p>
  <br />
  <p>
    Name :
  </p>
  <p>{{student.name}}</p>
  <br />
  <p>
    Program :
  </p>
  <p>{{student.program}}</p>
  <br />
  <p>
    GPA :
  </p>
  <p>{{student.gpa}}</p>
  <br />

</div>